:root {
    --main-background-color: #8C4091; /* purple */
    --section-background-color: #FFF9F5;
    --accent-font-color: #FFF;
    --secondary-background-color: #FDE1C9; /* ballet pink */
    --main-font-color: #000;
    --highlight-color: #F1F0F8;
    --traffic-light-color-one: #40A535;
    --traffic-light-color-two: #EF7E26;
    --traffic-light-color-three: #B80442;
}

/* For mobile devices, tablets etc */
@media only screen and (max-width: 991px) {
    #actions {
        flex-flow: column nowrap;
    }
}

/* For Larger screens */
@media only screen and (min-width: 992px) {
    #actions {
        justify-content: space-evenly;
        flex-flow: row wrap;
    }

    .leaf {
        width: 30%;
        flex-grow: 3;
    }

}

/* Default styling */
html {
  font-family: Helvetica, Arial, sans-serif;
    background-color: var(--main-background-color);
    padding: 1%;
}

h1 {
    font-family: "Marker Felt", "Chalkduster", "Arial Black", sans-serif;
    text-transform: uppercase;
}

a {
    text-decoration: none;
    font-weight: bold;
    color: var(--main-font-color);
}

a:hover {
    color: var(--main-background-color);
    text-decoration: wavy 1px var(--main-background-color);
}

#name {
    margin: -20px 0 0 0;
    font-size: 1.25rem;
    padding: 1rem;
}

#logo {
    width: 20%;
    max-width: 100px;
    position: absolute;
}

figure {
    margin: 0;
}

#title {
    width: 75%;
    margin: 5rem 12.5% 1rem 12.5%;
    max-width: 300px;
}

fieldset {
    background-color: var(--highlight-color);
    border: none;
    border-top: 30px dotted var(--highlight-color);
    color: var(--main-font-color);
}

#intro, footer, footer a {
    color: var(--accent-font-color);
    padding: 1rem;
}

.handwritten, figcaption {
    font-family: marker, "Bradley Hand", "Chalkboard SE", cursive;
    background-color: var(--highlight-color);
    padding: 3px;
    font-size: 1.2rem;
    text-transform: initial;
    color: var(--main-font-color);
}

#actions {
    display: flex;
    gap: 1rem;
}

.leaf {
    flex-basis: 2rem;
    border-width: 0.25em;
    border-style: solid;
    border-radius: 10px;
    padding: 1rem;
    background-color: var(--section-background-color);
}

summary {
    font-size: 1.5em;
}

#one summary, #one h3, #one h4  {
    color: var(--traffic-light-color-one);
}

#one {
    border-color: var(--traffic-light-color-one);
}

#two {
    border-color: var(--traffic-light-color-two);
}

#two summary, #two  h3, #two  h4  {
    color: var(--traffic-light-color-two);
}

#three {
    border-color: var(--traffic-light-color-three);
}

#three summary, #three h3, #three h4, .alert {
    color: var(--traffic-light-color-three);
}

