/* || Debugging helper */
* {
  /* border: 0.5px solid coral; */
}

/* || Header and Main Navigation */
/* -------------------------------------------------------------------------------------- */

header {
  width: 100%;
  height: 42px;
  border-bottom: 8px solid #000000;
  margin-bottom: 25px;
  text-align: left;
}

nav {
  height: 11px;
}

nav a, footer a, .nav a{
  font-family: Calibri, sans-serif;
  font-size: 13px;
  letter-spacing: 1px;
  line-height: 13px;
  text-align: left;
  margin-right: 30px;
  float: right;
  text-decoration: none;
  color: #000000;
}

nav a:hover, .nav a:hover{
  border-bottom: 4px solid #04e3f3;
}

nav .location {
  border-bottom: 2px solid #000;
}

/* -- Mobile */
@media only screen and (max-width: 480px) and (min-width: 320px) {
  
  nav a {
    letter-spacing: 0;
    margin-right: 20px;
  }

  .complementary p {
    width: 100%;
    margin-left: 0%;
  }

  .intro {
    padding-right: 0 !important;
  }

  /* main {
    grid-template-rows: auto auto auto auto;
    grid-template-columns: 1fr;
    grid-template-areas: 
      "portrait"
      "intro"
      "complementary";
  }

  .complementary {
    padding: 20px 20px 20px 20px;
  } */
}

/* || Typography and Text Format */
/* -------------------------------------------------------------------------------------- */

/* \\ Headers */
h1 {
  font-family: Didot, serif;
  color: #000000;
  padding: 0px 10px 10px;
  vertical-align: top;
  font-size: 40px;
  white-space: nowrap;
  margin-bottom: -4px;
}

h2 {
  font-size: 33px;
}

h3 {
  font-size: 30px;
  color: #000000;
  line-height: 1.2em;
  border-bottom: 8px solid #04e3f3;
}

/* || Body */

body {
  font-family: Didot, sans-serif;
  color: #000000;
  margin: 20px;
  background-color: #fffdfb;
}

/* || Paragraphs */

p {
  font-size: 17px;
  line-height: 1.5em;
}

/* || Links */

p a {
  color: #114b5f;
  text-decoration: none;
  text-decoration-color: #04e3f3;
  border-bottom: #04e3f3 dashed 2px;
  background: #f1fafe;
}

p a:hover, a:focus {
  color: #ffffff;
  background-color: #000000;
  border-bottom-style: none;
}

/* || Layout */
/* -------------------------------------------------------------------------------------- */
/* Displays the content sections as a grid */

/* General */
.intro {
  padding-right: 90px;
}

.complementary {
  grid-area: complementary;
  padding: 20px 90px 20px 90px;
}

.complementary p {
  width: 70%;
  margin-left: 30%;
}

/* || About Me Page */
main {
  display: grid;
  grid-template-columns: 1fr 2fr;
  grid-template-rows: 1fr auto;
  grid-template-areas: 
    "portrait intro"
    "complementary complementary";
}

.portrait {
  padding: 20px;
  grid-area: portrait;
  background: url("images/RB_03.png") no-repeat;
  background-position: top center;
  background-size: contain;
  height: 245px;
  width: 245px;
  border-radius: 100%;
  margin: 10%;
}

.portrait:hover {
  background-image: url("images/RB_04.png");
}

/* || User Manual Page */
.manual {
  font-size: 200px;
  text-align: center;
  padding: 20px;
  grid-area: portrait;
  height: 245px;
  width: 245px;
  margin: 10%;
}

.emoji {
    font-size: 1.75em;
}

/* || Action Plan Page */
.plan {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: auto auto ;
  grid-template-areas:
  "everyday worse attack"
  "assets1 assets2 assets3";
}

.everyday, .worse, .attack {
    font-family: Calibri, sans-serif;
}

.worse h3 {
    border-color: #f304e3;
}

.attack h3 {
     border-color: #ff0000;
 }

.everyday {grid-area: everyday};
.worse {grid-area: worse};
.attack {grid-area: attack};
.assets1 {grid-area: assets1};
.assets2 {grid-area: assets2};
.assets3 {grid-area: assets3};


/* || Features Page */

.makers {grid-area: makers};
.meet {grid-area: meet};
.codebar {grid-area: codebar};
.stories {grid-area: stories};
.exercism {grid-area: exercism};
.testimonials {grid-area: testimonials};

.features {
  display: grid;
  align-items: space-evenly;
  grid-template-columns: 1fr 2fr;
  grid-template-rows: auto auto auto;
  grid-template-areas:
  "makers meet"
  "codebar stories"
  "exercism testimonials";
}

.meet h2 {
  margin: 0 20%;
}

.meet, .stories, .testimonials {
    margin: 0 0 5% 0;
}

.makers, .codebar, .exercism {
    padding: 20px 90px;
    }


/* -- Mobile */
@media only screen and (max-width: 500px) and (min-width: 320px) {
  main {
    grid-template-rows: auto auto auto auto;
    grid-template-columns: 1fr;
    grid-template-areas: 
      "portrait"
      "intro"
      "complementary";
  }
  .complementary {
    padding: 0 !important;
  }
}

/* || Footer */
/* -------------------------------------------------------------------------------------- */
/* this is the universal footer style... */
footer{
  text-align: left;
  color: #000000;
  font-size: 13px;
}

footer a {
  margin: 10px;
}

