:root {
    --light-main-color: peachpuff;
    --dark-main-color: coral;
    --light-accent-color: white;
    --mid-accent-color: lightcoral;
    --dark-accent-color: lightsalmon;
}

/* For mobile devices, tablets etc */
@media only screen and (max-width: 991px) {
}

body {
    background-color: var(--light-main-color);
    margin: 0;
}

.folio img, .bites blockquote {
    flex-basis: 2rem;
    flex-grow: 0;
}

.folio img {
    min-width: 20rem;
    padding: 0.5rem 0;
}

.bites blockquote {
    margin: 1rem;
    min-width: 20rem;
    min-height: 20rem;
    background-color: var(--light-main-color);
    padding: 1rem;
}

.bites p {
    font-size: 2.25rem;
}

.bites {
    background: repeating-linear-gradient(
            45deg,
            var(--light-accent-color),
            var(--light-accent-color) 1rem,
            var(--dark-accent-color) 0,
            var(--mid-accent-color) 2rem
    );
}

.community {
    color: var(--dark-main-color);
}


.bites, .folio {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-content: flex-start;
    }


.footer {
    background-color: #114b5f;
}