:root {
    --light-main-color: peachpuff;
    --mid-main-color: coral;
    --dark-main-color: #fe6f5e; /* bittersweet */
    --light-accent-color: white;
    --mid-accent-color: lightcoral;
    --dark-accent-color: lightsalmon;
}

h2 {
    font-size: 3rem;
    opacity: 100%;
}

body {
    background-color: var(--light-main-color);
    margin: 0;
}

p {
    margin: 0;
}

.project a {
    text-decoration: none;

}

#action-plan {
    background-color: #0CAAA0;
}
#action-plan .lozenge{
    color: var(--light-accent-color);
    background-color: #8C4091;
}

#bee {
    background-color: #F6BB07;
}
#bee .lozenge {
    color: var(--light-accent-color);
    background-color: #28200A;
}

#bbac {
    background-color: #FE6A6A;
}
#bbac .lozenge {
    color: var(--light-accent-color);
    background-color: #3F385E;
}

#checkboxer {
    background-color: #08C710;
}
#checkboxer .lozenge {
    color: var(--light-accent-color);
    background-color: #FF01FF;
}

#pollinate {
    background-color: #E67CBA;
}
#pollinate .lozenge {
    color: #070707;
    background-color: #C7EFFF;
}

#sfb {
    background-color: #817FE8;
}
#sfb .lozenge {
    color: var(--light-accent-color);
    background-color: #006BC2;
}

.folio #project, .bites blockquote {
    flex-basis: 2rem;
    flex-grow: 0;
}

.folio .links {
    display: flex;
}

.folio .project {
    min-width: 20rem;
    padding: 1rem;
}

.projects summary {
    color: var(--light-main-color);
    background-color: deeppink;
}

#valueContent {
    display: flex;
}

.values summary {
    color: orangered;
    background-color: #FDE1C9;
}

.values  {
    background-color: #FDE1C9;
    background-size: 0.5rem 0.5rem;
    background-image: linear-gradient(to right, lightsalmon 1px, transparent 0), linear-gradient(to bottom, lightcoral 1px, transparent 0);
    border: solid 1px peachpuff;
}

.values p {
    padding: 2rem;
    background-color: var(--light-accent-color);
    color: orangered;
    margin: 1rem;
    font-size: 1.15rem;
    font-family: sans-serif;
    letter-spacing: 0.1rem;
}

.values a {
    color: darkcyan;
    text-decoration: none;
    border-bottom: dotted peachpuff 0.17rem;
}

.values a:active, .values a:hover {
    text-decoration: none;
    border-bottom: solid coral 0.17rem;
}

img {
    width: 100%;
}

.bites blockquote {
    margin: 1rem;
    min-width: 20rem;
    min-height: 20rem;
    padding: 1rem;
}

.testimonial {
    background-color: var(--light-main-color);
}

.feature {
    background-color: var(--dark-main-color);
    color: var(--light-main-color);
}

.bites p {
    font-size: 2.25rem;
}

.bites {
    color: var(--dark-main-color);
    background: repeating-linear-gradient(
            45deg,
            var(--light-accent-color),
            var(--light-accent-color) 1rem,
            var(--dark-accent-color) 0,
            var(--mid-accent-color) 2rem
    );
}

summary {
    list-style: none;
    padding: 1rem;
}

.community summary {
    background-color: #FDE1C9;
    color: var(--dark-main-color);
}

.lozenge {
    background-color: var(--dark-main-color);
    color: var(--light-main-color);
    opacity: revert;
    padding: 1rem;
    width: fit-content;
    min-width: 7rem;
    border-radius: 25px;
    font-family: sans-serif;
    font-size: 1.15rem;
    text-align: center;
    margin: 1rem 1rem 1rem 1rem;
}

.lozenge:active {
    color: var(--dark-main-color);
    background-color: var(--light-main-color);
    border: solid 1px var(--dark-main-color);
}


.bites, .folio {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-content: flex-start;
    }


/* Footer Style */
/* ===================================================== */

.footer {
    background-color: var(--dark-main-color);
    color: var(--light-main-color);
    margin: 0;
    padding: 2em;
    font-size: 1em;
    font-family: sans-serif;
}
