:root {
    --light-tone-1: white;
    --light-tone-2: floralwhite;
    --light-tone-3: #FDE1C9;
    --light-tone-4: peachpuff;

    --warm-tone-1: lightsalmon;
    --warm-tone-2: lightcoral;
    --warm-tone-3: #FE6F5E; /* bittersweet */
    --warm-tone-4: coral;
    --warm-tone-5: orangered;
    --warm-tone-6: deeppink;

    --contrast-color: darkcyan;

    scroll-behavior: smooth;
}



/* Universal Styles */
/* ===================================================== */

body {
    background-color: var(--light-tone-4);
    margin: 0;
}

h1 {
    font-size: 3rem;
    margin-bottom: 0;
}

h2 {
    font-size: 3rem;
    opacity: 100%;
}

h5 {
    font-size: 3rem;
    color: var(--light-tone-2);
    margin: 0;
    font-family: sans-serif;
}

h4 {
    padding: 0;
    margin-top: 0;
    font-family: sans-serif;
}

h6 {
    font-weight: normal;
}

p {
    margin: 0;
    font-family: sans-serif;
}

a {
    text-decoration: none;
}

img {
    width: 33%;
    min-width: 20rem;
    min-height: 20rem;
    display: block;
}


/* Nav style */
/* ===================================================== */

nav {
    display: flex;
    background-color: var(--warm-tone-3);
}

nav a {
    background-color: var(--warm-tone-3);
    padding: 1rem;
    margin: 1%;
    border-radius: 5px;
    font-size: 1rem;
    font-family: sans-serif;
    color: var(--light-tone-1);
    align-self: center;
}

nav a:active, nav a:hover {
    background-color: var(--light-tone-2);
    color: var(--contrast-color);
}




/* Section Styles */
/* ===================================================== */

#values a, #welcome a, .foot a {
    color: darkcyan;
    text-decoration: none;
    border-bottom: dotted var(--light-tone-4) 0.17rem;
}

#values a:active, #values a:hover, #welcome a:active, #welcome a:hover, .foot a:active, .foot a:hover {
    text-decoration: none;
    border-bottom: solid var(--warm-tone-4) 0.17rem;
}

.lozenge {
    background-color: var(--warm-tone-3);
    color: var(--light-tone-4);
    opacity: revert;
    padding: 1rem;
    width: fit-content;
    min-width: 7rem;
    border-radius: 25px;
    font-family: sans-serif;
    font-size: 1.15rem;
    text-align: center;
    margin: 1rem 1rem 1rem 1rem;
}

.lozenge:active {
    color: var(--warm-tone-3);
    background-color: var(--light-tone-4);
    border: solid 1px var(--warm-tone-3);
}



/* Welcome */
/* ----------------------------- */

#welcome {
    background-color: var(--light-tone-1);
    color: var(--contrast-color);
    padding: 3rem;
    letter-spacing: 0.15rem;
}

#welcome p, h4 {
    padding: 1rem;
    line-height: 2rem;
}

/* Values */
/* ----------------------------- */

#valueContent {
    display: flex;
}

#values summary {
    color: var(--warm-tone-5);
    background-color: var(--light-tone-3);
}

#values  {
    background-color: var(--light-tone-3);
    background-size: 0.5rem 0.5rem;
    background-image: linear-gradient(to right, var(--warm-tone-1) 1px, transparent 0), linear-gradient(to bottom, var(--warm-tone-2) 1px, transparent 0);
    border: solid 1px var(--light-tone-4);
}

#valueContent, .folio, .bites {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
}

#values p , #values img {
    padding: 1rem;
    background-color: var(--light-tone-1);
    color: var(--warm-tone-5);
    margin: 1rem;
    font-size: 1.15rem;
    font-family: sans-serif;
    letter-spacing: 0.15rem;
    min-width: 20rem;
    min-height: 20rem;
    flex-basis: 2rem;
    flex-grow: 0;
    line-height: 1.75rem;
}



/* Projects */
/* ----------------------------- */

#action-plan {
    background-color: #0CAAA0;
}
#action-plan .lozenge{
    color: var(--light-tone-1);
    background-color: #8C4091;
}

#bee {
    background-color: #F6BB07;
}
#bee .lozenge {
    color: var(--light-tone-1);
    background-color: #28200A;
}

#bbac {
    background-color: #FE6A6A;
}
#bbac .lozenge {
    color: var(--light-tone-1);
    background-color: #3F385E;
}

#checkboxer {
    background-color: #08C710;
}
#checkboxer .lozenge {
    color: var(--light-tone-1);
    background-color: #FF01FF;
}

#pollinate {
    background-color: #E67CBA;
}
#pollinate .lozenge {
    color: #070707;
    background-color: #C7EFFF;
}

#sfb {
    background-color: #817FE8;
}
#sfb .lozenge {
    color: var(--light-tone-1);
    background-color: #006BC2;
}

.folio #project, .bites blockquote {
    flex-basis: 2rem;
    flex-grow: 0;
}

.folio .links {
    display: flex;
}

.folio .project {
    min-width: 23rem;
    max-width: 100%;
    padding: 1rem 0;
}

.links {
    justify-content: center;
}

.project {
    width: 1rem;
    flex-grow: 2;
    display: flex;
    align-items: center;
    flex-direction: column;
}

#projects summary {
    color: var(--light-tone-4);
    background-color: var(--warm-tone-6);
}




/* Community */
/* ----------------------------- */

.bites blockquote {
    margin: 1rem;
    min-width: 20rem;
    min-height: 20rem;
    padding: 1rem;
}

.testimonial {
    background-color: var(--light-tone-4);
}

.feature {
    background-color: var(--warm-tone-3);
    color: var(--light-tone-4);
}

.feature a {
    background-color: var(--warm-tone-3);
    color: var(--light-tone-4);
}

.testimonial a {
    background-color: var(--light-tone-4);
    color: var(--warm-tone-5);
}

.testimonial a:active, .testimonial a:hover, .feature a:active, .feature a:hover {
    border-bottom: var(--warm-tone-4) 1rem solid;
    text-decoration: underline var(--light-tone-1);
}

.bites p {
    font-size: 2.25rem;
}

#community {
    color: var(--warm-tone-3);
    background: repeating-linear-gradient(
            135deg,
            var(--light-tone-4),
            var(--light-tone-4) 1rem,
            var(--warm-tone-1) 0,
            var(--warm-tone-1) 2rem
    );
}

.bites {
    color: var(--warm-tone-3);
    background: repeating-linear-gradient(
            45deg,
            var(--light-tone-1),
            var(--light-tone-1) 1rem,
            var(--warm-tone-1) 0,
            var(--warm-tone-2) 2rem
    );
}

summary {
    list-style: none;
    padding: 1rem;
    cursor: pointer;
}

#community summary {
    background-color: var(--light-tone-3);
    color: var(--warm-tone-3);
}

footer.citation {
    display: block;
}


/* Footer Style */
/* ===================================================== */

.foot a {
    border-bottom: dotted var(--light-tone-2) 0.17rem;
}

.foot a:active, .foot a:hover {
    background-color: deeppink;
    border-bottom: solid var(--warm-tone-6) 0.17rem;
    color: var(--light-tone-2);
}

.foot {
    background-color: var(--warm-tone-3);
    color: var(--light-tone-4);
    margin: 0;
    padding: 2em;
    font-size: 1em;
    font-family: sans-serif;
}

.foot ul {
    background: var(--light-tone-4);
    padding: 1rem;
    color: var(--warm-tone-3);
    text-decoration: none;
    list-style-type: none;
    border-radius: 60px;
    line-height: 2rem;
    letter-spacing: 0.15rem;
}

.foot li {
    margin-left: 1rem;
}

/* carbon badge */


#wcb {
    text-align: left !important;
}

.foot img {
    max-width: 5rem;
    min-width: 0;
    min-height: 0;
}

@media only screen and (min-width: 800px) {

    #welcome p {
        margin-left: 17rem;
    }

    footer#foot {
        display: grid;
        gap: 1rem;
        grid-template-columns: 1fr 1fr;
    }

    #footer1 {
        margin-left: 5rem;
    }

    footer .citation {
        display: block;
    }
}

@media only screen and (min-width: 1150px) {
    details, header, #welcome, footer.foot {
        margin: 0 10%;
    }

    main {
        color: var(--light-tone-1);
        background: repeating-linear-gradient(
                90deg,
                var(--light-tone-4),
                var(--light-tone-4) 0.1rem,
                var(--light-tone-2) 0,
                var(--light-tone-2) 3rem
        );
    }

    .bites {
        color: var(--warm-tone-3);
        background: none;
        background-color: var(--light-tone-2);
        opacity: 90%;
    }
}

@media only screen and (min-width: 1555px) {
    details, header, #welcome, footer.foot {
        margin: 0 20%;
    }
}

